[submodule "backend"]
	path = backend
	url = https://github.com/shermannws/ai-sdlc-snip-demo
	branch = backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/shermannws/ai-sdlc-snip-demo
	branch = frontend
[submodule "cli"]
	path = cli
	url = https://github.com/shermannws/ai-sdlc-snip-demo
	branch = cli
